@media screen and (max-width: 600px){
    .categories-list-container{
        list-style-type: none;
        margin-right: 12px;
        display: flex;
        width: 90%;
        
    }
    .categories-ul-list-container{
        display: flex;
        height: 2%;
        overflow-x: scroll;
    }
    
}
@media not screen  and (max-width: 600px){
    .categories-list-container{
        list-style-type: none;
        margin-right: 12px;
        display: flex;
    }
    
}


.categories-ul-list-container{
    display: flex;
    height: 2%;

}
.and-up {
    font-size: 11px;
    color: #40403f;
    font-family: "Roboto";
    margin-top: 2px;

}


.active-rating {
  color: #0967d2;
}

.nav-icon{
margin-top: 5px;
font-size: 10px;
}